html, body, h1, h2, h3, p, ul, ol, li, a{
	margin: 0;
	padding: 0;
}
/*--#9b9ea5
	#998b4c
	#28374c
	#3d516c
	#515868
	#48421e--*/
html{ font-size: 20px; }

body{ 
	font-family: 'Raleway',Helvetica,serif;
	font-weight: 250;
	background: #28374c;
	color: #9b9ea5;
}

a{
	text-decoration: none;
	color: #555;
}

img{	width: 100%; }

/*-- hr{
	border: 2px dashed #000000;
	border-style: none none dashed;
	color: #ffffff;
	background-color: #ffffff;
} --*/

main{
	width: 90%;
	margin: 0 auto;
}

.grid{
	display: flex;
	flex-flow: row wrap;
}

.panel{
	margin: 8px;
	flex-basis: 400px;
}

.panel img:hover {
	opacity: .75;
}

ul .bxslider {/*-- corrects image position --*/
    left: -40px;
    top: -15px;
  }
  
.bx-caption{
	 margin-left: 40px;
 }

@media screen and (min-width:780px){
	html {font-size: 16px;}
	.panel {width: 33.33%;}
	#main-navigation:target {width: 32%;}
}

@media screen and (min-width:478px){
	html {font-size: 14px;}
	.panel {width: 50%;}
	#main-navigation:target {width: 68%;}
}

/*-- Modal Styles --*/
.modal {
	z-index: 10000;
	display: none;
	padding-top: 50px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

.modal-content {
	margin: 0 auto;
	position: relative;
	padding: 0;
	width: 35%;
}

.closebtn {
	text-decoration: none;
	float: right;
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 72px;
	color: #fff;
  background-color: black;
}

.closebtn:hover, .closebtn:focus {
	text-decoration: none;
	cursor: pointer;
  background-color: gray;
}

.container{
	padding: 0.3em 0.3em;
}

.container:after,.panel:after,.row:after,.row-padding:after,.topnav:after,.clear:after,.btn-group:before,.btn-group:after,.btn-bar:before,.btn-bar:after {
	content: "";
	display: table;
	clear: both;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.animate-zoom {
	-webkit-animation: zoom 0.6s;
	animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0);}
    to {-webkit-transform:scale(1);}
}

@keyframes zoom {
    from {transform:scale(0);}
    to {transform:scale(1);}
}